.light {
  background-color: var(--color-base-100);
  color: var(--color-base-content);
}

.primary {
  background-color: var(--color-primary-focus);
  color: var(--color-base-100);
}

.baseButton {
  cursor: pointer;
  font-size: 1.8rem;
  font-weight: 700;
  padding: 1rem 2rem;
  border-radius: 4px;
}
