.light {
  background-color: var(--color-base-100);
  color: var(--color-primary);
  border: solid 2px var(--color-primary); // Add this line

  &:hover {
    background-color: var(--color-base-content);
    color: var(--color-base-100);
    border-color: var(--color-base-100); // Add this line
    transition: all 0.3s ease;
  }

   &:active {
    transform: scale(0.95);
    transition: transform 0.1s ease;
  }
}

.primary {
  background-color: var(--color-primary-focus);
  color: var(--color-base-100);
  border: solid 2px transparent; // Add this line

  &:hover {
    background-color: var(--color-base-100);
    color: var(--color-primary-focus);
    border-color: var(--color-primary-focus); // Add this line
    transition: all 0.3s ease;
  }

   &:active {
    transform: scale(0.95);
    transition: transform 0.1s ease;
  }
}

.baseButton {
  cursor: pointer;
  font-size: 1.6rem;
  font-weight: 700;
  padding: 1.2rem 3rem;
  border-radius: 4px;
  min-width: 16rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.6rem;
}
