
.meetAssistants {
  background-color: var(--color-secondary);
  height: 46rem;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 4rem;

  .avatarContainer {
    display: flex;
    align-items: center;
    gap: 2.8rem;

    & > ul:first-child {
      text-align: end;
      display: flex;
      flex-direction: column;
      gap: 3rem;
    }

    & > ul:last-child {
      display: flex;
      flex-direction: column;
      gap: 1.4rem;

      li {
        .link {
          display: flex;
          align-items: center;
          gap: 1.2rem;
        }

        .whatsapp {
          position: relative;
          z-index: 0;
          color: var(--color-base-100);

          &::after {
            content: '';
            position: absolute;
            left: 2rem;
            z-index: -1;
            background-color: rgba(18, 140, 126, 1);
            border-radius: 5rem;
            height: 3rem;
            width: 17rem;
          }
        }

      }
    }

    .link2 {
      color: rgba(79, 145, 197, 1);
      text-decoration: underline;
      font-weight: bold;
    }
  }
}
