@import '../../sass/mixins';

.container {
  position: fixed;
  z-index: 100;
  width: 100%;
  top: 0%;
  height: 8.4rem;
  color: var(--color-base-100);
  background-color: var(--color-primary);

  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 8rem;

  .navigation {
    display: flex;
    align-items: center;
    gap: 4rem;

    .logo {
      height: 6rem;
      width: 6rem;
    }

    ul {
      display: flex;
      gap: 3.8rem;

      .link {
        @include Link();
      }
    }
  }
}
