@import '../../../../sass/mixins.scss';

.sectionTwo {
  min-height: 100vh;
  background: linear-gradient(180deg,  rgba(250, 250, 250, 0.93), rgba(229, 235, 242, 0.93)), url('../../../../public/assets/Group\ 6755.png');
  display: flex;
  align-items: center;
  justify-content: center;

  .cols {
   @include ColsTwo();
  }
}
