:root {
  font-size: 62.5%;
  box-sizing: border-box;

  --color-primary: rgb(49, 49, 129);
  --color-primary-focus: rgb(9, 107, 217);

  // --color-secondary-content: rgb(40, 71, 56);

  // --color-accent: rgb(234, 82, 52);
  // --color-neutral: rgb(42, 42, 42);

  --color-neutral-content: rgb(148, 152, 203);
  --color-primary-shadow: rgba(3, 69, 190, 0.6);

  --color-base-100: rgb(255, 255, 255);
  --color-base-150: rgba(233, 239, 245, 1);
  --color-base-content: rgb(57, 52, 84);
  --color-base-shadow: rgba(46, 55, 74, 0.1);
}

*,
*::after,
*::before {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
  border: none;
  scroll-behavior: smooth;
  user-select: none;
}

body {
  color: var(--color-base-content);
  font-size: 1.6rem;
  background-color: var(--color-base-100);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

*:focus {
  outline: none;
}

@media screen and (max-width: 900px) {
  :root {
    font-size: 59%;
  }
}

@media screen and (max-width: 600px) {
  :root {
    font-size: 56%;
  }
}
