@import "../../sass/mixins";

.container {
  background-color: var(--color-primary);
  color: var(--color-base-100);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16rem;
  height: 32rem;

  @media screen and (max-width: 900px) {
    gap: 0rem;
    justify-content: space-between;
  }

  @media screen and (max-width: 600px) {
    height: 100%;
    flex-direction: column-reverse;
    gap: 0rem;
    padding: var(--section-top-padding) 2rem;
  }

  .col1 {
    display: flex;
    flex-direction: column;
    gap: 1.8rem;

    @media screen and (max-width: 600px) {
      text-align: center;
      justify-content: center;
      gap: 2.6rem;
      padding-top: 6rem;
    }

    h3 {
      font-size: 2.4rem;
      font-weight: bold;
      display: flex;
      align-items: center;
      gap: 1.2rem;
    }

    ul {
      display: flex;
      gap: 1.8rem;

      @media screen and (max-width: 600px) {
        justify-content: space-around;
      }

      img {
        height: 2.8rem;
        width: 2.8rem;

        @media screen and (max-width: 600px) {
          height: 3.6rem;
          width: 3.6rem;
        }
      }
    }

    p {
      font-weight: 200;
    }
  }

  .col2 {
    display: flex;
    gap: 6rem;

    @media screen and (max-width: 600px) {
      display: none;
    }

    @mixin List() {
      display: flex;
      flex-direction: column;
      gap: 2rem;
    }

    ul:first-child {
      @include List();
      border-left: 2px solid var(--color-base-100);
      padding: 1rem 1.8rem;
    }

    ul:last-child {
      @include List();
    }

    .link {
      @include Link();
      font-size: 1.6rem;
    }
  }

  .col2Mobile {
    display: none;

    @media screen and (max-width: 600px) {
      display: block;
      width: 100%;
      border-bottom: 2px solid var(--color-base-100);
    }

    ul {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 3rem;
      padding-bottom: 6rem;
    }

    .link {
      @include Link();
      font-size: 1.6rem;
    }
  }

  .logo {
    height: 16rem;
    width: 16rem;

    @media screen and (max-width: 600px) {
      display: none;
    }
  }

  .logoMobile {
    display: none;

    @media screen and (max-width: 600px) {
      display: block;
      height: 5rem;
      width: 5rem;
    }
  }
}
